<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <TITLE>TR Project</TITLE>
        <SCRIPT src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></SCRIPT>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='StreetViewImages.js') }}"></script>

        <SCRIPT type="text/javascript">
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
          var origin_images=[];
          var adv_images=[];
          var i=0;
          var j=0;

          origin_view = document.createElement("img");
          origin_view.height=300;
          origin_view.width=300;
          adv_view = document.createElement("img");
          adv_view.height=300;
          adv_view.width=300;

          function show_origin_view(){
            if (origin_images.length<=0)
            {
              setTimeout("show_origin_view()", time);
              return;
            }
            var time=1000;
            origin_view.src=origin_images[i];
            if(i < origin_images.length - 1) i++;
            else i=0;
            setTimeout("show_origin_view()", time);
          }

          function show_adv_view(){
            if (adv_images.length<=0)
            {
              setTimeout("show_adv_view()", time);
              return;
            }
            var time=1000;
            adv_view.src=adv_images[j];
            if(j < adv_images.length - 1) j++;
            else j=0;
            setTimeout("show_adv_view()", time);
          }

          function main() {
            var center = document.getElementById("center");
            var br = document.createElement('br');
            var text1 = document.createTextNode("This will be the view by your self-driving car\n\n");
            center.appendChild(br);
            center.appendChild(text1);
            center.appendChild(br.cloneNode());
            center.appendChild(origin_view);
            center.appendChild(br.cloneNode());
            show_origin_view();
            ////
            var text2 = document.createTextNode("These are the un-trusted scenes\n\n");
            center.appendChild(text2);
            center.appendChild(br.cloneNode());
            center.appendChild(adv_view);
            center.appendChild(br.cloneNode());
            show_adv_view();

            new StreetViewImages({
              origin: document.getElementById("origin").value,
              destination: document.getElementById("destination").value,
              apiKey: "AIzaSyDzdWMOcjRgS-PkwxNbLIRBxrqfG_vMQGs",

              onPanoLoaded: function (pano) {
                  console.log(pano);

                  $.get($SCRIPT_ROOT + '/_check_image', {
                     u: pano.panoUrl,
                     https: pano.https,
                     l_pano: pano.l_pano,
                     fov: pano.fov,
                     heading: pano.heading,
                     pitch: pano.pitch,
                     key: pano.key
                  }
                  , function(data) {

                    origin_images.push("./images/"+data.image_ret);
                    if (data.adv_image_ret!="")
                      adv_images.push("./images/"+data.adv_image_ret);
                    return false;
                  })

              },

              onError: function (err) {
                  console.log(err);
              },
              onComplete: function () {
                  //changeImg();
                  //var view = document.createTextNode("Done pulling images on route\n");
                  //document.body.appendChild(view);
                  console.log("Done pulling images on route");
              }
            });

          }
        </SCRIPT>

        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
          $(function() {
            $('a#calculate').bind('click', function() {
              $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
                a: 1, //$('input[name="a"]').val(),
                b: 2, //$('input[name="b"]').val()
              }, function(data) {
                $("#result").text(data.result);
              });
              return false;
            });
          });
        </script>

    </HEAD>
    <BODY>
       <!--
       <h1>xxx</h1>
       <p>Enter an origin and destination below along with a google maps api developer key. Usage rates will apply when pulling images.</p>
       <p>Upon clicking go, the images along the provided route will be appended to the DOM.</p>
       <p>This page is intended as a sample usage page to get started with.</p>
       -->
       <center id="center">
         <h2>TrustRover</h2>
         <label for="origin">Origin</label>
       <!--input type="text" value="OX1 4LQ" placeholder="origin" id="origin" /-->
       <!--input type="text" value="OX4 1EA" placeholder="origin" id="origin" /-->
         <input type="text" value="OX1 3QD" placeholder="origin" id="origin" />
         <label for="destination">Destination</label>
       <!--input type="text" value="OX1 4JU" placeholder="destination" id="destination" /-->
       <!--input type="text" value="OX1 4AS" placeholder="destination" id="destination" /-->
         <input type="text" value="OX1 3PN" placeholder="destination" id="destination" />
         <label for="Google API Key">API Key</label>
         <input type="text" placeholder="api key" id="apiKey" />
         <input type="button" onclick="main()" value="Go" /><br>
       </center>
       <!--
       <h1>jQuery Example</h1>
       <p><input type=text size=5 name=a> +
          <input type=text size=5 name=b> =
          <span id=result>?</span>
       <p><a href=# id=calculate>calculate server side</a>
       -->

    </BODY>
</HTML>
